.PricingSection-section-container {
  height: 1420px !important;
}

.PricingSection-top-header-buttons {
  width: 270px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.active-price-plan{
  background-color: #ff9500;
  color: #fff;
}
.PricingSection-top-header-buttons > button:first-child {
  width: 130px;
  height: 55px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}
.PricingSection-top-header-buttons > button:last-child {
  width: 115px;
  height: 55px;
  border: none;
  background-color: none;
  font-size: 18px;
  border-radius: 6px;
}

.PricingSection-slides-container {
  width: 1595px;
  height: 1210px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.price-plan-container {
  width: 705px;
  height: 1050px;
  border: solid 2px #F1F1F3;
  border-radius: 12px;
  background-color: #FCFCFD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.price-plan-heading {
    width: 645px;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: #FFF9F0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
}

.prices-plan-prices {
    width: 645px;
    height: 60px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.prices-plan-prices > p{
    font-size: 80px;
    color: #262626;
}

.prices-plan-prices > sub{
    font-size: 20px;
    color: #4C4C4D;
}

.prices-plan-available-Features {
    width: 645px;
    height: 750px;
    border: solid 2px #F1F1F3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prices-plan-available-Features > div {
    width: 645px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.prices-plan-available-Features > div > p:first-child {
    font-size: 20px;
    font-weight: 500;
    color: #262626;
}

.prices-plan-features {
    height: 545px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.prices-plan-features > div {
    width: 505px;
    height: 60px;
    border: solid 2px #F1F1F3;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.prices-plan-features > div > div {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    margin: 0 15px;
    color: #262626;
    background-color: #FFF4E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prices-plan-features > div > p {
  font-size: 18px;
}

.prices-plan-available-Features > a {
    width: 645px;
    height: 70px;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FF9500;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}