.Testimonials-section-container {
  height: 850px !important;
}


.Testimonials-slides-container {
  height: 640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Testimonials-slides-container > div {
  height: 305px;
  width: 785px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Testimonials-slides-container > div > div:first-child {
  width: 785px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px #F1F1F3;
}

.Testimonials-slides-container > div > div:first-child > p {
  width: 685px;
  font-size: 18px;
  font-weight: 400;
  color: #4c4c4d;
}

.Testimonials-slides-container > div > div:last-child {
  width: 785px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Testimonials-avatar {
  width: 412px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.avatar-contianer {
  height: 60px;
  width: 500px;
  display: flex;
  align-items: center;
}

.Testimonials-avatar > img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.Testimonials-avatar > p {
  width: 352px;
  height: 24px;
  margin-left: 10px;
  font-size: 18px;
  color: #333333;
}

.Testimonials-slids-button {
  width: 185px;
  height: 60px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: #262626;
  background-color: #F7F7F8;
}
