@media only screen and (max-width: 1536px) {
  .benefits-section-container {
    width: 1279px;
    margin-top: 80px;
  }
  .benefits-section-container > div:first-child {
    height: 109px;
  }
  .benefits-top-header {
    width: 933px;
  }
  .benefits-top-header p:first-child {
    font-size: 38px;
    font-weight: 600px;
  }
  .benefits-top-header p:last-child {
    font-size: 16px;
  }
  .benefits-section-container > div:first-child > button {
    font-size: 14px;
    width: 96px;
    height: 49px;
  }
  .benefits-slides-container {
    height: 766px;
  }
  .benefits-slides-container > div {
    width: 413px;
    height: 370px;
  }
  .benefits-slides-container > div > p:first-child {
    width: 333px;
    height: 44px;
    font-size: 60px;
  }
  .benefits-slids-paragraph {
    width: 333px;
    height: 88px;
  }
  .benefits-slids-paragraph p:first-child {
    font-size: 20px;
    height: 60px;
  }
  .benefits-slids-paragraph p:last-child {
    font-size: 16px;
    height: 48px;
  }
  .benefits-slids-button-container {
    width: 333px;
  }
  .benefits-slids-button {
    width: 54px;
    height: 54px;
    border-radius: 6px;
    font-size: large;
  }
}
