@media only screen and (max-width: 1536px) {
  .PricingSection-section-container {
    height: 1151px !important;
  }

  .PricingSection-top-header-buttons {
    width: 220px;
    height: 69px;
  }

  .PricingSection-top-header-buttons > button:first-child {
    width: 104px;
    height: 45px;
    border-radius: 6px;
    font-size: 14px;
  }
  .PricingSection-top-header-buttons > button:last-child {
    width: 92px;
    height: 45px;
    font-size: 14px;
    border-radius: 6px;
  }

  .PricingSection-slides-container {
    width: 1279px;
    height: 982px;
    border-radius: 12px;
  }

  .price-plan-container {
    width: 574px;
    height: 882px;
    border-radius: 12px;
  }

  .price-plan-heading {
    width: 526px;
    height: 50px;
    border-radius: 4px;
    font-size: 18px;
  }

  .prices-plan-prices {
    width: 526px;
    height: 44px;
  }

  .prices-plan-prices > p {
    font-size: 60px;
  }

  .prices-plan-prices > sub {
    font-size: 16px;
  }

  .prices-plan-available-Features {
    width: 526px;
    height: 624px;
    border-radius: 10px;
  }

  .prices-plan-available-Features > div {
    width: 526px;
    height: 567px;
  }

  .prices-plan-available-Features > div > p:first-child {
    height: 27px;
    font-size: 18px;
  }

  .prices-plan-features {
    width: 466px;
    height: 456px;
  }

  .prices-plan-features > div {
    width: 406px;
    height: 48px;
    border-radius: 6px;
  }

  .prices-plan-features > div > div {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    font-size: 10px;
    margin: 0 15px;
  }

  .prices-plan-available-Features > a {
    width: 526px;
    height: 57px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 14px;
  }
}
