@media only screen and (max-width: 400px) {
  .benefits-section-container {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .benefits-top-header {
    width: 100%;
    justify-content: center;
  }
  .benefits-section-container > div:first-child {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .benefits-top-header p:first-child {
    font-size: 28px;
    height: 40px;
    margin-bottom: 0px;
  }
  .benefits-top-header p:last-child {
    font-size: 14px;
  }
  .benefits-section-container > div:first-child > button {
    font-size: 14px;
    width: 95px;
    height: 50px;
    margin-top: 15px;
  }
  .benefits-slides-container {
    width: 360px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
  }
  .benefits-slides-container > div {
    width: 100%;
    height: 295px;
    margin: 15px 0px;
  }
  .benefits-slides-container > div > p:first-child {
    width: 85%;
    font-size: 50px;
  }
  .benefits-slids-paragraph {
    width: 85%;
    height: auto;
  }
  .benefits-slids-paragraph p:first-child {
    font-size: 20px;
  }
  .benefits-slids-paragraph p:last-child {
    font-size: 14px;
  }
  .benefits-slids-button-container {
    width: 85%;
  }
  .benefits-slids-button {
    width: 25px;
    height: 25px;
    border: solid 1px #f1f1f3;
    border-radius: 6px;
    font-size: 20px;
  }
}
